@media screen and (max-width:450px) {
    
    header#event {
        flex-direction: column;
        height: auto;
    }

    div#form {
        margin: 2em 1em 2em 1em;
    }

    section#benefics div{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    section#benefics h2 {
        font-size: 1.5em;
    }

    section#local {
        flex-direction: column;
        height: auto;
        text-align: center;
        width: auto;
        padding: 2em 0em;
    }

    section#local h2 {
        font-size: 1.5em;
    }

    div#local  {
        flex-direction: column;
        order: 2;
    }
    
    div#local-destaque {
        margin: 0 20px;
        order: 1;
        margin-bottom: 2em;
    }

    section#photos div {
        flex-direction: column;
    }

    div#p1 {
    }

    div#p1 h2 {
        font-size: 2em;
        margin: 0 auto;
    }

    div#p1 div {
        order: 2;
        margin: 1.5em 0px;
    }

    div#p1 img {
        order: 1;
        width: 100%;
    }

    section#inscription h3 {
        font-size: 1.5em;
    }

    section#inscription button {
        height: 20%;
        width: 70%;
    }
}